/*
GENERAL
 */

.hide {
    display: none;
    visibility: hidden;
}

.margin-top-bottom-21 {
    margin-top: 21px;
    margin-bottom: 21px;
}

/*
Users
 */

#datepicker[readonly] {
    background-color: transparent !important;
}

.cancel {
    text-decoration: none;
    color: #2c2c2c;
    margin-left: 10px;
}

/*
Maps
 */

#map {
    width: 100%;
    height: 400px;
}

#sidebar {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 10px;
    color: #212529;
}

.reveal {
    -webkit-transform: translateX(0%) !important;
    -ms-transform: translateX(0%) !important;
    transform: translateX(0%) !important;
    -webkit-transition: 300ms ease !important;
    transition: 300ms ease !important;
}

.close-sidebar {
    background-color: #fff;
    color: #212529;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    display: none;
}

@media only screen and (min-width: 768px) {

    #sidebar {
        width: 50%;
        position: fixed;
        color: #fff;
        top: 0;
        right: 0;
        border-left: 1px solid #c0c0c0;
        background-color: rgba(0, 0, 0, .8);
        overflow-y: scroll;
        z-index: 1000;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: 300ms ease;
        transition: 300ms ease;
    }

    .close-sidebar {
        display: block;
    }

}

@media only screen and (min-width: 1200px) {

    #sidebar {
        width: 25%;
    }

}